#header {
    text-align: center;
}

#img_header {
    min-width: 100%;
}

#img_index {
    min-width: 100%;
    height: 120px;
    text-align: center;
}

.big_container {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid rgba(80, 79, 79, 0.514);
    box-shadow: 5px 10px 8px #888888;
}

.container {
    margin: auto;
    text-align: center;
    width: 60%;
}

.containerItems {
    margin: auto;
    text-align: center;
    width: 100%;
}

.buttonB {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Georgia;
	font-size:18px;
	font-weight:bold;
    padding:6px 24px;
    margin:5px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 250px;
}
.buttonB:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.buttonB:active {
	position:relative;
	top:1px;
}

.myButton {
    margin-top: 20px;
	box-shadow:inset 0px 0px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:26px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}

.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}

.myButton:active {
	position:relative;
	top:1px;
}

h2 {
    font-family: Garamond; 
}

#time {
    font-family: 'Orbitron', sans-serif;
}

#container_detalls {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 60%;
}

#dades_client {
    margin-right: 5%;
}

.button_delete {
    background-color: rgb(185, 20, 20);
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 3px;
}

.card-body {
    background-color: #ff9b21;
    border-radius: 5%;
    width: 100px;
    height: 150px;
    padding: 3px;
}

.card-title {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.text-right {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.button_add {
    background-color: green;
    width: 100%;
}

.carrito {
    display: flex;
}

.copyright {
    margin-top: 40px;
}

#time {
    margin: 5px;
    padding: 5px;
    width: 85px;
    float: right;
    color: #ff9b21;
}

.list-numbered {
    list-style: none;
    margin-left: 1em;
    counter-reset: line;
}

.list-numbered > li {
    position: relative;
    margin-bottom: 1.5em;
}

.list-numbered > li:before {
    position: absolute;
    left: -2.25em;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 0.5em;
    background-color: #63639b;
    border-radius: 50%;
    color: #fff;
    text-align:center;
    line-height: 1.25em;
    counter-increment: line;
    content: counter(line);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.total {
    text-align: center;
    font-size: 30px;
}

#total {
    font-size: 30px;
}

.confirmacio {
    text-align: center;
}

.carrito {
    background-color: #fb9e25;
    padding:10px;
    border-radius: 2%;
}